%body
  .single-container
    %header.single-header
      %h1
        =link_to root_path do
          =image_tag "header-logo.svg"


      -# ヘッダー左上の進捗管理バー
      %nav.progress-bar
        %ol.clearfix
          %li.done
            会員情報
            %div.progress-status.first
          %li.done
            電話番号認証
            %div.progress-status
          %li.done
            お届け先住所入力
            %div.progress-status
          %li.done
            支払い方法
            %div.progress-status
          %li.last.active
            完了
            %div.progress-status.last


    %main.single-main
      %section.l-single-container
        %h2.l-single-head.registration
          会員登録完了
        .l-single-inner.registration-form
          .l-single-content

            .complete-signup-message
              %p ありがとうございます。
              %br/ 
              会員登録が完了しました。
            .emptybox-completesignup
            = link_to 'メルカリをはじめる', root_path, class: 'btn-default btn-red text-default__submit'



    %footer.single-footer
      %ul.clearfix
        %li
          = link_to "プライバシーポリシー"
        %li
          = link_to "メルカリ利用規約"
        %li
          = link_to "特定商取引に関する表記"
      = link_to "", class: "single-footer__logo" do
        = image_tag "footer-logo.svg"
      %p
        %small @ 2019 Mercari