%body
  .single-container
    %header.single-header
      %h1
        =link_to root_path do
          =image_tag "header-logo.svg"


      -# ヘッダー左上の進捗管理バー
      %nav.progress-bar
        %ol.clearfix
          %li.done
            会員情報
            %div.progress-status.first
          %li.done
            電話番号認証
            %div.progress-status
          %li.done
            お届け先住所入力
            %div.progress-status
          %li.active
            支払い方法
            %div.progress-status
          %li.last
            完了
            %div.progress-status.last



    %main.single-main
      %section.l-single-container
        %h2.l-single-head.registration
          支払い方法
        .l-single-inner.registration-form1
          .l-single-content

            = form_for @user, url: complete_signup_signup_index_path do |f|
              = f.fields_for :credit do |c|
                .each-forms
                  %div
                    = c.label :card_no, "カード番号"
                    %span.form-must 必須
                  = c.text_field :card_no, class: "text-default", placeholder: "例）メルカリ太郎"
                  .card-images
                    = image_tag "visa.svg"
                    = image_tag "master-card.svg"
                    = image_tag "saison-card.svg"
                    = image_tag "jcb.svg"
                    = image_tag "american_express.svg"
                    = image_tag "dinersclub.svg"
                    = image_tag "discover.svg"
                .each-forms
                  %div
                    = c.label :birthday, "有効期限"
                    %span.form-must 必須
                    %br/
                  .creditcard_wrap
                    .select-form-wrap
                      = c.select :validity_month, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"], ["8", "8"], ["9", "9"], ["10", "10"], ["11", "11"], ["12", "12"]],  {prompt: "---"}, class: "select-default select-text-default"
                      %span 月
                      = c.select :validity_year, [["2024", "2024"], ["2023", "2023"], ["2022", "2022"], ["2021", "2021"], ["2020", "2020"], ["2019", "2019"]], {prompt: "---"}, class: "select-default select-text-default"
                      %span 年
                .each-forms
                  %div
                    = f.label :card_no, "セキュリティコード"
                    %span.form-must 必須
                  = c.text_field :card_no, class: "text-default", placeholder: "カードの背面4桁もしくは3桁の番号"
                  %p.security_no_detail
                    = fa_icon 'question-circle', class: 'icon icon-question-circle'
                    %a カードの裏面の番号とは？
                .emptybox-payway
                = f.submit '次へ進む', class: 'btn-default btn-red text-default__submit'



    %footer.single-footer
      %ul.clearfix
        %li
          = link_to "プライバシーポリシー"
        %li
          = link_to "メルカリ利用規約"
        %li
          = link_to "特定商取引に関する表記"
      = link_to "", class: "single-footer__logo" do
        = image_tag "footer-logo.svg"
      %p
        %small @ 2019 Mercari