%body
  .default-container
    = render partial: 'home/header'

    %main.l-container.clearfix
      .l-content
        %section.mypage-user-icon
          %figure
            = link_to image_tag("discover.svg"), mypage_path
          %h2.bold ユーザーネーム
          .mypage-number
            %div 評価 2&nbsp; &nbsp;出品数 2
        %section.mypage-tab-container-notification-todo
          %ul.mypage-tabs
            %li.active-info
              %h3
                = link_to "お知らせ", mypage_path
            %li.mypage-info
              %h3 やることリスト
          .tab-content
            %ul#mypage-tab-notification.mypage-item-list.tab-pane.active-info-inner
              %li
                %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
                  %figure
                    %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                  .mypage-item-body
                    .mypage-item-text 《8%ポイント還元》得々祭期間中に使えるお得チケットをプレゼントしました
                    %time
                      %i.icon-time
                      %span 20 時間前
                  %i.angle-right
                    = fa_icon 'angle-right'
              %li
                %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
                  %figure
                    %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                  .mypage-item-body
                    .mypage-item-text 《8%ポイント還元》得々祭期間中に使えるお得チケットをプレゼントしました
                    %time
                      %i.icon-time
                      %span 20 時間前
                  %i.angle-right
                    = fa_icon 'angle-right'
              %li
                %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
                  %figure
                    %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                  .mypage-item-body
                    .mypage-item-text 《8%ポイント還元》得々祭期間中に使えるお得チケットをプレゼントしました
                    %time
                      %i.icon-time
                      %span 20 時間前
                  %i.angle-right
                    = fa_icon 'angle-right'
              %li
                %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
                  %figure
                    %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                  .mypage-item-body
                    .mypage-item-text 《8%ポイント還元》得々祭期間中に使えるお得チケットをプレゼントしました
                    %time
                      %i.icon-time
                      %span 20 時間前
                  %i.angle-right
                    = fa_icon 'angle-right'
              %li
                %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
                  %figure
                    %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                  .mypage-item-body
                    .mypage-item-text 《8%ポイント還元》得々祭期間中に使えるお得チケットをプレゼントしました
                    %time
                      %i.icon-time
                      %span 20 時間前
                  %i.angle-right
                    = fa_icon 'angle-right'
              
              %li.mypage-go-list
                %a 一覧を見る

      = render partial: 'mypages/leftbox' 
    
    = render partial: 'home/footer' 