%body
  .default-container
    = render partial: 'home/header'
    - breadcrumb :mylist_mypages
    = render "mypages/breadcrumbs"

    %main.l-container.clearfix

      -# マイページ右側
      .l-content
        .listing--container
          %h2 出品した商品
          %ul.listing-tabs
            %li.sell-list 出品中              
            %li 取引中
            %li 売却済み

          .listing--container__mylist
            - @items.each do |item|
              .item-list
                %figure.item-list__photo
                  = link_to image_tag("#{item.image.url}", width: '48',  height: '48'), item_path(item)
                = link_to item.name  ,item_path(item),class: "item-list__name"
                %i.angle-right2
                  = fa_icon 'angle-right'
                
      = render partial: 'mypages/leftbox'

    = render partial: 'home/footer'