
%body
  .single-container
    %header.single-header
      %h1
        =link_to root_path do
          =image_tag "header-logo.svg"

 
    %main.single-main
      .login-panel
        .login-no-account
          %p アカウントをお持ちでない方はこちら
          =link_to '新規会員登録', "", class: 'sinki'
        
        .login-form-inner
          %button#facebook-login.btn-sns-facebook
            = fa_icon 'facebook-square', class: 'icon-facebook'
            =link_to "Facebookでログイン"
          %button#google-login.btn-sns-google
            = image_tag "google-logo.svg",class:'icon-google'
            =link_to "Googleでログイン"
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email",class:'email'
            .field
          
              %br/
              = f.password_field :password, autocomplete: "current-password",class:"password"

        
              =link_to'ログイン',"", class: 'login-sumit'
              =link_to'パスワードをお忘れの方',"", class: 'ps'
  
            



       
         
 