
%body
  .single-container
    %header.single-header
      %h1
        =link_to root_path do
          =image_tag "header-logo.svg"



    %main.single-main
      .login-panel

        -# 新規会員登録
        .login-no-account
          %p アカウントをお持ちでない方はこちら
          =link_to '新規会員登録',signup_index_path, method: :get
        
        -# facebook, google
        .login-form-inner
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            = fa_icon 'facebook-square', class: 'icon icon-facebook'
            Facebookでログインする
          %button#google-login.btn-default.btn-sns.btn-sns-google
            = image_tag "google-logo.svg", class: 'icon'
            Googleでログインする

        -# メールフォーム、ログインボタン
        .login-form-inner2
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              = f.email_field :email, autofocus: true, autocomplete: "email",class: "text-default login-email", placeholder: "メールアドレス"
            .field
              = f.password_field :password, autocomplete: "current-password",class: "text-default login-password", placeholder: "パスワード"
            .emptybox-login
              = f.submit "ログイン", class: "btn-default btn-red text-default__submit"
            %p.forget-password-message パスワードをお忘れの方



    %footer.single-footer
      %ul.clearfix
        %li
          = link_to "プライバシーポリシー"
        %li
          = link_to "メルカリ利用規約"
        %li
          = link_to "特定商取引に関する表記"
      = link_to "", class: "single-footer__logo" do
        = image_tag "footer-logo.svg"
      %p
        %small @ 2019 Mercari
