%body
  .default-container
  = render partial: 'home/header'

  %main
    %section.owl-carousel.top-carousel
      .owl-stage-outer
        .owl-item.cloned
          =image_tag "mainimage.png", class: 'imagestyle-mein'
    %section.pickup-container
      %h2.pickup-head ピックアップカテゴリー
      %section.items-box-container.clearfix
        %h3.text-center.home
          =link_to "全ての新着アイテム", class: 'textstyle'
        .items-box-content.clearfix
          %section.items-box#items-boxies
            - if @items
              - @items.each do |item|
                .item-box
                  %figure.items-box-photo
                    = link_to image_tag("#{item.image.url}", width: '213',  height: '220', alt: "個別アイテム"), item_path(item)
                  .items-box-body
                    .items-box-name.font-2
                      = item.name
                    .item-box-num
                      .items-box-price.font-5
                        ¥
                        = item.price    
    = render partial: 'home/footer'