%body
  .default-container
    %header.login-header 
      .login-header-inner
        .login-header-top
          %h1
            =link_to root_path do
              =image_tag "main-logo.svg"
          %form.login-header-form
            %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
            %i.icon-search3
              = fa_icon 'search', class: 'search__icon3'
              
              
        .login-header-nav-box.clearfix
          %nav.l-left
            %ul.login-header-nav
              %li
                %h2
                  =link_to "","", class: 'login-header-nav-root list-parent'
                  %i.icon-list
                    = fa_icon 'list', class: 'main-icon redicon'
                    %span.catebrastyle
                      カテゴリーから探す
              %li
                %h2
                  =link_to "","", class: 'login-header-nav-root list-parent'
                  %i.icon-list
                    = fa_icon 'tag', class: 'main-icon tagicon redicon'
                    %span.catebrastyle
                      ブランドから探す
          .l-right2
            .sp-header-user-nav.clearfix
              %i.icon-like
                = fa_icon 'heart'
                %span いいね！一覧
              %i.icon-like
                = fa_icon 'bell'
                %span お知らせ
              %i.icon-like
                = fa_icon 'check'
                %span やることリスト
              .login-header-user-icon.login-header-menu-link
                %figure
                  %div
                    = image_tag("")
              %span マイページ
              
              

.default-container
  .sp-header.visible-sp.with-shadow
    .sp-header-inner
  .login-header.visible-pc.with-shadow

  .item-box-container.l-single-container
    %h1.item-name
      アイテム名
    .item-main-content.clearfix
      .item-photo
        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage{style: "left: 0px; width: 1800px;"}
              .owl-item.active{style: "width: 360px;"}
                .owl-item-inner
                  %img.owl-lazy{alt: "商品名", "data-src" => "/", src: "", :style => "opacity: 1;"}/
              .owl-item{style: "width: 280px;"}
                %img.owl-lazy{:alt => "商品名", "data-src" => "/"}/
          .owl-nav.disabled
            .owl-prev
            .owl-next
          .owl-dots
            .owl-dot.active
              %span
              .owl-dot-inner
                %img{src: ""}/
            .owl-dot
              %span
              .owl-dot-inner
                %img{src: ""}/
            .owl-dot
              %span
              .owl-dot-inner
                %img{src: ""}/
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td

              = link_to("Smile", {})
              -# のちのちcurrent_user.nameを入れる
          
                %div
                  .item-user-ratings
                    評価アイコン
          %tr
            %th カテゴリー
            %td
              = link_to("メンズ", {})
              -# メンズorレディース一覧のurl入れる
              .item-detail-table-sub-category
                %i.icon-arrow-right
                  = link_to("トップス", {})
                  -# 該当カテゴリー一覧のurl入れる
          %tr
            %th 商品のサイズ
            %td S
          %tr
            %th 商品の状態
            %td 目立った傷や汚れなし
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td 未定
          %tr
            %th 配送元地域
            %td
              福岡県
          %tr
            %th 発送日の目安
            %td 2~3日で発送

    .item-price-box.text-center
      %span.item-price.bold ¥ 5,555
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    = link_to "購入画面に進む", root_path, class: "item-buy-btn f18-24"
    .item-btn-float-area
      %div{"data-client": "visible"}
        購入画面に進む
    .item-description.f14
      %p.item-description-inner
        【商品詳細】
        items.detail
        Bohemians YOKOO BEATLES S/S TEE 【MADE IN JAPAN】です。
        MADE IN JAPAN
        Bohemians × Tadanori Yokooのコラボアイテム 
        BEATLESオマージュです！
        メンバーが持っている心臓がラメになっております！

        【SIZE】
        S

        【採寸】
        肩幅:約45.5cm
        身幅:約50cm
        着丈:約65cm
        袖丈:約19cm
    .item-button-container.clearfix
