%body
  = render partial: 'home/header'
          
.default-container2
  .sp-header.visible-sp.with-shadow
    .sp-header-inner
  .login-header.visible-pc.with-shadow
  .item-box-container.l-single-container
    %h1.item-name
      = @item.name
    .item-main-content.clearfix
      .item-photo
        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage{style: "left: 0px; width: 1800px;"}
              .owl-item.active{style: "width: 360px;"}
                .owl-item-inner
                  = image_tag @image.to_s, class: "img-first"
              .owl-item{style: "width: 280px;"}
                %img.owl-lazy{:alt => "商品名", "data-src" => "/"}/
          .owl-nav.disabled
            .owl-prev
            .owl-next
          .owl-dots
            .owl-dot.active
              %span
              .owl-dot-inner
                %img{src: ""}/
            .owl-dot
              %span
              .owl-dot-inner
                %img{src: ""}/
            .owl-dot
              %span
              .owl-dot-inner
                %img{src: ""}/
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = @user.nickname
          %tr
            %th カテゴリー
            %td
              = link_to("メンズ", {})
              .item-detail-table-sub-category
                %i.icon-arrow-right
                  = link_to("トップス", {})
          %tr
            %th 商品のサイズ
            %td S
          %tr
            %th 商品の状態
            %td
              = @item.status
          %tr
            %th 配送料の負担
            %td
              = @item.deliver_fee
          %tr
            %th 配送の方法
            %td 未定
          %tr
            %th 配送元地域
            %td
              福岡県
          %tr
            %th 発送日の目安
            %td
              = @item.deliver_data
    .item-price-box.text-center
      %span.item-price.bold
        = "¥#{@item.price.to_s(:delimited)}"
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    .item-description.f14
      %p.item-description-inner
        【商品詳細】
        = @item.detail
  - if user_signed_in? && current_user.id == @item.saler_id
    .listing-item-change-box
      = link_to "商品の編集", edit_item_path, class: "btn-default btn-red"
      %p.text-center or
      .item-btn-float-area
        .btn-default.btn-gray 出品を一旦停止する
        = link_to "商品を削除する",  item_path, method: :delete,class: "btn-default btn-gray", data: { confirm: '削除しますか？' }
  - else
    = link_to "購入画面に進む", purchase_confirmation_items_path, class: "item-buy-btn f18-24"
    .item-btn-float-area
      %div{"data-client": "visible"}
        購入画面に進む

  %section.items-box-container2.clearfix
    %h3.text-item-style2
      =link_to "#{@user.nickname}さんのその他の出品", class: 'text-item-style2'
    .items-box-contenter
      .items-box-content.clearfix
        %section.items-box2
          =image_tag "imageitem.png", class: 'itemstyle2'
        %section.items-box2
          =image_tag "imageitem2.png", class: 'itemstyle3'
        %section.items-box2
          =image_tag "imageitem3.png", class: 'itemstyle4'

= render partial: 'home/footer'